body{
    background-image: url("img/3.3.jpg");
}
div{
    background-color: rgb(247,229,195);
    border-radius:0px 0px 20px 20px;
    width:500px;
}
.huo{
    position:relative; bottom: 4px;
    padding:20px;
}
